<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>sample-jam</title>
<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<link rel="stylesheet" href="/css/styles.css">
<!-- SCRIPTS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" charset="utf-8"></script>
<script src="/js/userManager.js" charset="utf-8"></script>
<script src="/js/recorderjs/recorder.js" charset="utf-8"></script>
<script src="/js/audioSetup.js" charset="utf-8"></script>
<script src="/js/sampleRec.js" charset="utf-8"></script>
<script src="/js/sampler.js" charset="utf-8"></script>
<script src="/js/outputRec.js" charset="utf-8"></script>
<script src="/js/userSamples.js" charset="utf-8"></script>
