<div id="sampler">
  <div class="row sampler-row">
    <div class="col s6 m3 l3">
      <div class="sampler-module">
        <div class="mod-btn">
          <audio id="mod1" class="mod-audio" src="" crossOrigin="anonymous"></audio>
          <h5 class="modtxt">A</h5>
        </div>
        <div class="mod-clr"><h6 class="clrtxt">C</h6></div>
      </div>
    </div>
    <div class="col s6 m3 l3">
      <div class="sampler-module">
        <div class="mod-btn">
          <audio id="mod2" class="mod-audio" src="" crossOrigin="anonymous"></audio>
          <h5 class="modtxt">S</h5>
        </div>
        <div class="mod-clr"><h6 class="clrtxt">C</h6></div>
      </div>
    </div>
    <div class="col s6 m3 l3">
      <div class="sampler-module">
        <div class="mod-btn">
          <audio id="mod3" class="mod-audio" src="" crossOrigin="anonymous"></audio>
          <h5 class="modtxt">D</h5>
        </div>
        <div class="mod-clr"><h6 class="clrtxt">C</h6></div>
      </div>
    </div>
    <div class="col s6 m3 l3">
      <div class="sampler-module">
        <div class="mod-btn">
          <audio id="mod4" class="mod-audio" src="" crossOrigin="anonymous"></audio>
          <h5 class="modtxt">F</h5>
        </div>
        <div class="mod-clr"><h6 class="clrtxt">C</h6></div>
      </div>
    </div>
  </div>
  <div class="row sampler-row">
    <div class="col s6 m3 l3">
      <div class="sampler-module">
        <div class="mod-btn">
          <audio id="mod5" class="mod-audio" src="" crossOrigin="anonymous"></audio>
          <h5 class="modtxt">J</h5>
        </div>
        <div class="mod-clr"><h6 class="clrtxt">C</h6></div>
      </div>
    </div>
    <div class="col s6 m3 l3">
      <div class="sampler-module">
        <div class="mod-btn">
          <audio id="mod6" class="mod-audio" src="" crossOrigin="anonymous"></audio>
          <h5 class="modtxt">K</h5>
        </div>
        <div class="mod-clr"><h6 class="clrtxt">C</h6></div>
      </div>
    </div>
    <div class="col s6 m3 l3">
      <div class="sampler-module">
        <div class="mod-btn">
          <audio id="mod7" class="mod-audio" src="" crossOrigin="anonymous"></audio>
          <h5 class="modtxt">L</h5>
        </div>
        <div class="mod-clr"><h6 class="clrtxt">C</h6></div>
      </div>
    </div>
    <div class="col s6 m3 l3">
      <div class="sampler-module">
        <div class="mod-btn">
          <audio id="mod8" class="mod-audio" src="" crossOrigin="anonymous"></audio>
          <h5 class="modtxt">;</h5>
        </div>
        <div class="mod-clr"><h6 class="clrtxt">C</h6></div>
      </div>
    </div>
  </div>
</div>
