
<div class="row logged-in">
  <div id="save-msg-box" class="col s12 offset-m4 m4 offset-l4 l4">
    <h5 id="save-msg"></h5>
  </div>
</div>
<div class="row save-row logged-in">
  <div class="col s12 m6 l6 saveload-btns">
    <button id="save-samples" class="btn">Save Samples</button>
  </div>
  <div class="col s12 m6 l6 saveload-btns">
    <button id="load-samples" class="btn">Load Samples</button>
  </div>
</div>
<div class="row logged-in">
  <div class="col offset-s4 s4"><h6 class="help-text">Sampler Output</h6></div>
</div>
<div class="row logged-in">
  <div class="col offset-s4 s4 offset-m5 m2 rec">
    <div id="output-rec" class="rec-btn"><h5 class="rectxt">REC</h5></div>
  </div>
</div>
<div class="row logged-in">
  <div class="col s12 offset-m1 m10 offset-l2 l8">
    <ul id="playlist">

    </ul>
  </div>
</div>
