<div class="modal">
  <div class="container">
    <div class="row">
      <div class="s12 offset-m2 m8 offset-l4 l4">
        <div id="signup" class="modal-content">
          <span class="close-modal">X</span>
          <h4 class="usermgr-heading">Sign Up</h4>
          <form id="signup-form">
            <input type="text" name="username" placeholder="">
            <input type="password" name="password" placeholder="">
            <input type="submit" value="Sign Up" class="btn usermgr-btn">
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="s12 offset-m2 m8 offset-l4 l4">
        <div id="login" class="modal-content">
          <span class="close-modal">X</span>
          <h4 class="usermgr-heading">Log In</h4>
          <form id="login-form">
            <input type="text" name="username" placeholder="">
            <input type="password" name="password" placeholder="">
            <input type="submit" value="Log In" class="btn usermgr-btn">
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
