<div class="modal">
  <div class="container">
    <div class="row">
      <div class="s12 offset-m2 m8 offset-l3 l6">
        <div id="signup" class="modal-content">
          <h4 class="usermgr-heading">Sign Up</h4>
          <span class="close-modal">X</span>
          <form>
            <input type="text" name="username" placeholder="">
            <input type="password" name="password" placeholder="">
            <input type="submit" value="" class="btn usermgr-btn">
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="s12 offset-m2 m8 offset-l3 l6">
        <div id="login" class="modal-content">
          <h4 class="usermgr-heading">Log In</h4>
          <span class="close-modal">X</span>
          <form>
            <input type="text" name="username" placeholder="">
            <input type="password" name="password" placeholder="">
            <input type="submit" value="" class="btn usermgr-btn">
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
