<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head.html %>
</head>
<body>

  <header>
    <h1 id="logo">sample*jam</h1>
    <div class="logged-out">
      <div class="to-modal signup-btn circle-btn"><h5>Sign Up</h5></div>
      <div class="to-modal login-btn circle-btn"><h5>Log In</h5></div>
    </div>
    <div class="logged-in">
      <div class="user-status"><h5 class="user-status-msg"></h5></div>
      <div class="circle-btn logout-btn"><h5>Log Out</h5></div>
    </div>
  </header>

  <% include partials/user-manager.html %>

  <div class="container">
    <div class="row">
      <!-- MESSAGE CENTER -->
      <div class="col s12 offset-m1 m5 offset-l1 l5 msg">
        <h6>Here's some kind of useful information about how to use the thing.  Don't break the thing.  Have fun.  Maybe some more words no one will read.</h6>
      </div>
      <!-- RECORDING -->
      <div id="rec" class="col s12 offset-m1 m4 offset-l1 l4">
        <% include partials/recording.html %>
      </div>
    </div>

    <!-- SAMPLER -->
    <% include partials/sampler.html %>

  </div>
</body>
</html>
