<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>sample-jam</title>
  <!-- FONTS -->
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Freckle+Face' rel='stylesheet' type='text/css'>
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- SCRIPTS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js" charset="utf-8"></script>
  <script src="/js/recorderjs/recorder.js" charset="utf-8"></script>
  <script src="/js/audioSetup.js" charset="utf-8"></script>
  <script src="/js/sampleRec.js" charset="utf-8"></script>
  <script src="/js/sampler.js" charset="utf-8"></script>
</head>
<body>

  <header>
    <h1 id="logo">sample*jam</h1>
    <div class="circle-btn signup-btn"><h5>Sign Up</h5></div>
    <div class="circle-btn login-btn"><h5>Log In</h5></div>
  </header>

  <div class="container">
    <div class="row">
      <!-- MESSAGE CENTER -->
      <div class="col s12 offset-m1 m5 offset-l1 l5 msg">
        <h6>Here's some kind of useful information about how to use the thing.  Don't break the thing.  Have fun.  Maybe some more words no one will read.</h6>
      </div>
      <!-- RECORDING -->
      <div id="rec" class="col s12 offset-m1 m4 offset-l1 l4">
        <div id="rec-btn"><h5 id="rectxt">REC</h5></div>
      </div>
    </div>

    <!-- SAMPLER -->
    <% include partials/sampler.html %>

  </div>
</body>
</html>
